html {
	background-image: url(' ../Resources/bodyBackground.png ') !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#restart {
    display:inline-block;
    width:200px;
    height:200px;
    position:absolute;
    top:350px;
    left:550px;
}
#game-container {
	margin: auto;
	display: block;
	width: 600px;
	height: 600px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 5px solid black;
	}

